.blocked-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ff4b5c;
  color: white;
  text-align: center;
}

.blocked-container h1 {
  font-size: 3rem;
}

.blocked-container p {
  font-size: 1.5rem;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .blocked-container h1 {
    font-size: 2rem;
  }

  .blocked-container p {
    font-size: 1.2rem;
  }
}
